@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 17, 40;
  --background-end-rgb: 10, 17, 40;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .glass-panel {
    @apply bg-stoneo-800/80 backdrop-blur-md border border-white/10 shadow-xl;
  }
  
  .neon-text {
    text-shadow: 0 0 10px rgba(223, 255, 0, 0.5);
  }
}
